aws-cdk.core>=1.136.0
aws-cdk.assertions>=1.136.0
aws-cdk.aws_lambda
aws_cdk.aws_s3_deployment
aws_cdk.aws_iam
aws_cdk.aws_dynamodb
aws_cdk.aws_apigatewayv2_integrations
aws_cdk.aws_athena
aws_cdk.aws_sam
aws_cdk.aws_secretsmanager
aws_cdk.aws_ssm
aws_cdk.aws_codecommit
aws_cdk.aws_codepipeline
aws_cdk.aws_codepipeline_actions
requests
boto3
uvicorn
fastapi>=0.72.0
httpx
starlette